<section class="section">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <nav class="navbar-item level is-mobile">
            {{ range .Site.Params.social }}
            <a class="level-item" href="{{ .url }}" target="_blank">
              <span class="icon">
                <i class="fa {{ .fa_icon }}"></i>
              </span>
            </a>
            {{ end }}
          </nav>
        </div>
      </div>
    </nav>
  </div>
</section>
